<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVoUtXcWyfibneiF_O0K9ERICpr5V5Ycg</string>
	<key>GCM_SENDER_ID</key>
	<string>1039441228304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moonWhispers</string>
	<key>PROJECT_ID</key>
	<string>moon-whispers-sbm-250509</string>
	<key>STORAGE_BUCKET</key>
	<string>moon-whispers-sbm-250509.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039441228304:ios:49f9f72434b3617c79d095</string>
</dict>
</plist>